<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="3">
        <tr>
            <th>first_Name</th>
            <th>last_name</th>
            <th>Email</th>
            <th>phone</th>
            <th>address</th>
            <th>date_of_birth</th>
        </tr>
        {% for i in data %}

        <tr>
            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.email_field}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.address}}</td>
            <td>{{i.date_of_birth}}</td>
            <td><a href="{% url 'update1' i.id %}">Update</a></td>
            <td><a href="{% url 'delete1' i.id %}">Delete</a></td>
        </tr>
        {% endfor %}



    </table>
  
</body>
</html>