<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" >
        {% csrf_token %}
        <label for="name">first_Name</label>
        <input type="text" name="names" value="{{data.first_name}}"><br>
        <label for="name">last_Name</label>
        <input type="text" name="namess" value="{{data.last_name}}"><br>
        <label for="email">email</label>
        <input type="text" name="emaill" value="{{data.email_field}}"><br>
        <label for="phone">phone</label>
        <input type="text" name="phones" value="{{data.phone}}"><br>
        <label for="address">address</label>
        <input type="text" name="addresss" value="{{data.address}}"><br>
        <label for="DOB">date of birth</label>
        <input type="text" name="births" value="{{data.date_of_birth}}"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>